NEXT_PUBLIC_SITE_URL=https://questcity.cloud/built/portfolio-web
NEXT_PUBLIC_BASE_PATH=/built/portfolio-web
NEXT_PUBLIC_SUPABASE_URL=https://hotjpwfbumrskyuthmgm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_ADMIN_EMAIL=sangsanwongmoolno.4@gmail.com

